<template>
    <div>
        <v-row>
            <v-col cols="12" lg="3">
                <users-count></users-count>
            </v-col>
            <v-col cols="12" lg="9">
                <v-card outlined>
                    <v-card-title>
                        <h1>Dashboard Card</h1>
                        <v-spacer></v-spacer>
                        <v-btn icon fab x-small>
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-card-text
                        >Vuetify has a 12 point grid system. Built using
                        flex-box, the grid is used to layout an application's
                        content. It contains 5 types of media breakpoints that
                        are used for targeting specific screen sizes or
                        orientations. The props for grid components are actually
                        classes that are derived from their defined properties.
                        This allows you to easily specify these helper classes
                        as props, while still providing the classes to be used
                        anywhere.</v-card-text
                    >
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" dark>Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import usersCount from "./Home/Cards/Users";
export default {
    components: {
        usersCount
    }
};
</script>
