<template>
  <div>
    <div class="my-5">
      <passport-clients></passport-clients>
    </div>
    <div class="my-5">
      <passport-authorized-clients></passport-authorized-clients>
    </div>
    <div class="my-5">
      <passport-personal-access-tokens></passport-personal-access-tokens>
    </div>
  </div>
</template>