<template>
  <div>
    <v-card class="mb-5">
      <v-card-text>
        <v-row>
          <v-col class="p-0">
            <h4 class="p-2 mb-0">
              <v-btn class="mr-3" :to="{name: 'admin.roles' }" fab x-small icon>
                <v-icon>mdi-arrow-left-circle</v-icon>
              </v-btn>Edit Roles
            </h4>
          </v-col>
          <v-col class="p-0"></v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-alert type="success" v-model="success" dismissible close-text="Close Alert">Account updated.</v-alert>
    <v-card>
      <v-card-text>
        <v-row>
          <v-col>
            <v-text-field label="Name" outlined dense v-model="form.name" :loading="loading"></v-text-field>

            <v-text-field label="Slug" outlined dense v-model="form.slug" :loading="loading"></v-text-field>

            <v-text-field label="Level" outlined dense v-model="form.level" :loading="loading"></v-text-field>

            <v-text-field
              label="Description"
              outlined
              dense
              v-model="form.description"
              :loading="loading"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>

    <v-card class="mt-5">
      <v-card-title>
        <v-row>
          <v-col md="6" lg="6">
            <h1 class="title">Permissions</h1>
          </v-col>
          <v-col md="3" lg="3">
            <v-text-field label="Search" outlined dense v-model="search" :loading="loading"></v-text-field>
          </v-col>
          <v-col md="3" lg="3">
            <v-select
              v-model="form.permissions"
              :items="permissions"
              item-text="name"
              chips
              label="Permissions"
              multiple
              dense
              outlined
              return-object
            >
              <template v-slot:selection="{ item, index }">
                <v-chip small v-if="index === 0">
                  <span>{{ item.name }}</span>
                </v-chip>
                <span
                  v-if="index === 1"
                  class="grey--text caption"
                >(+{{ form.permissions.length - 1 }} others)</span>
              </template>
            </v-select>
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="form.permissions"
          :items-per-page="5"
          :search="search"
          class="elevation-1"
        ></v-data-table>
      </v-card-text>
    </v-card>

    <v-card class="mt-5">
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-3" dark @click="save_item()">Save</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: () => ({
    search: "",
    dialog: { trash: false },
    loading: false,
    success: false,
    permissions: [],
    headers: [
      { text: "Name", value: "name" },
      { text: "Slug", value: "slug" },
      { text: "Description", value: "description" }
    ],
    form: {
      id: null,
      name: null,
      slug: null,
      level: null,
      description: null,
      permissions: []
    }
  }),

  mounted() {
    this.form.id = this.$route.params.id;
    this.get_item();
    this.get_permissions();
  },

  methods: {
    get_item: function() {
      this.loading = true;

      axios
        .get("/api/admin/roles/" + this.form.id)
        .then(res => {
          this.form = res.data.role;
          this.form.permissions = res.data.permission;
          this.loading = false;
        })
        .catch(err => {})
        .then(() => {
          this.loading = false;
        });
    },

    save_item: function() {
      this.loading = true;
      this.success = false;

      axios
        .put("/api/admin/roles/" + this.form.id, this.form)
        .then(res => {
          this.loading = false;
          this.success = true;
          this.form.permissions = res.data.permission;
        })
        .catch(err => {})
        .then(() => {
          this.loading = false;
        });
    },

    get_permissions: function() {
      this.loading = true;
      axios
        .get("/api/admin/permissions/")
        .then(res => {
          this.permissions = res.data.permissions;
          this.loading = false;
        })
        .catch(err => {})
        .then(() => {
          this.loading = false;
        });
    }
  }
};
</script>