<template>
  <div>
    <v-card class="mb-5">
      <v-card-text>
        <v-row>
          <v-col class="p-0">
            <h4 class="p-2 mb-0">
              <v-btn class="mr-3" :to="{name: 'admin.roles' }" fab x-small icon>
                <v-icon>mdi-arrow-left-circle</v-icon>
              </v-btn>New Roles
            </h4>
          </v-col>
          <v-col class="p-0"></v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-alert type="success" v-model="success" dismissible close-text="Close Alert">Role created.</v-alert>

    <v-card>
      <v-card-text>
        <v-text-field label="Name" outlined dense v-model="form.name" :loading="loading"></v-text-field>

        <v-text-field label="Slug" outlined dense v-model="form.slug" :loading="loading"></v-text-field>

        <v-text-field label="Level" outlined dense v-model="form.level" :loading="loading"></v-text-field>

        <v-text-field
          label="Description"
          outlined
          dense
          v-model="form.description"
          :loading="loading"
        ></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-3" dark @click="save_item()">Save</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>


<script>
import axios from "axios";

export default {
  data: () => ({
    dialog: { trash: false },
    loading: false,
    success: false,
    form: {
      id: null,
      name: null,
      slug: null,
      level: null,
      description: null
    }
  }),

  methods: {
    save_item: function() {
      this.loading = true;
      this.success = false;

      axios
        .post("/api/admin/roles", this.form)
        .then(res => {
          console.log(res);
          this.loading = false;
          this.success = true;
        })
        .catch(err => {})
        .then(() => {
          this.loading = false;
        });
    }
  }
};
</script>