<template>
  <div>
    <v-card class="mb-5" outlined>
      <v-card-title>
        <span>Roles</span>
        <v-spacer></v-spacer>
        <v-text-field
          class="pt-0"
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-btn :to="{name: 'admin.roles.new' }" fab x-small icon color="grey">
          <v-icon>mdi-plus-box</v-icon>
        </v-btn>
      </v-card-title>
    </v-card>

    <v-data-table
      class="elevation-0 border"
      :headers="headers"
      :items="items"
      :items-per-page="5"
      :search="search"
      :loading="loading"
    >
      <template v-slot:item.updated_at="{ item }">
        <span>{{ moment(item.updated_at).fromNow() }}</span>
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn
          x-small
          fab
          icon
          title="Edit"
          :to="{ name: 'admin.roles.edit', params: {'id': item.id}}"
        >
          <v-icon>mdi-circle-edit-outline</v-icon>
        </v-btn>
        <v-btn x-small fab icon title="Trash" @click="single=item;dialog.trash=true;">
          <v-icon>mdi-trash-can</v-icon>
        </v-btn>
      </template>
    </v-data-table>

    <v-dialog v-model="dialog.trash" v-if="single" max-width="400">
      <v-card>
        <v-card-title>
          <span>Delete Item</span>
          <v-spacer></v-spacer>
          <v-btn fab x-small icon color="red" @click="dialog.trash=false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>Are you sure you want to delete?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn dark color="red" @click="remove_item()">
            <v-icon>mdi-trash-can</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";
var moment = require("moment");

export default {
  mounted() {
    this.get_items();
  },

  data() {
    return {
      single: null,
      headers: [
        { text: "Name", align: "left", value: "name" },
        { text: "Slug", value: "slug" },
        { text: "Description", value: "description" },
        { text: "Level", value: "level" },
        { text: "Created At", value: "created_at" },
        { text: "Last Update", value: "updated_at" },
        { text: "Actions", value: "action" }
      ],
      dialog: { trash: false },
      search: "",
      moment: moment,
      loading: true,
      items: []
    };
  },

  methods: {
    get_items() {
      
      axios.get("/oauth/tokens").then(response => {
        this.tokens = response.data;
      });

      this.loading = true;
      axios
        .get("/api/admin/roles")
        .then(res => {
          console.log(res.data);
          this.items = res.data.roles;
          this.loading = true;
        })
        .catch(err => {})
        .then(() => {
          this.loading = false;
        });
    },

    remove_item() {
      this.loading = true;
      axios
        .delete("/api/admin/roles/" + this.single.id)
        .then(res => {
          this.dialog.trash = false;
          this.get_items();
          this.loading = true;
        })
        .catch(err => {})
        .then(() => {
          this.loading = false;
        });
    }
  }
};
</script>
