<template>
    <v-card outlined>
        <v-card-title>
            Filter
        </v-card-title>
        <v-card-text>
            <v-text-field label="Search" dense outlined v-model="filter.search">
            </v-text-field>
        </v-card-text>
        <v-card-actions>
            <v-btn block color="primary" outlined>
                Filter
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    props: ["filter"]
};
</script>
