<template>
    <v-card outlined>
        <v-card-text>
            <v-form lazy-validation v-model="valid">
                <v-row>
                    <v-col cols="12" class="py-0">
                        <v-text-field
                            label="Title"
                            outlined
                            dense
                            v-model="form.title"
                            :error-messages="error.title"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="12" class="py-0">
                        <v-select
                            label="Type"
                            outlined
                            dense
                            :items="type"
                            v-model="form.type"
                            :error-messages="error.type"
                        >
                        </v-select>
                    </v-col>
                    <v-col cols="12" class="py-0">
                        <v-select
                            label="Status"
                            outlined
                            dense
                            :items="status"
                            v-model="form.status"
                            :error-messages="error.status"
                        >
                        </v-select>
                    </v-col>
                    <v-col cols="12" class="py-0">
                        <v-text-field
                            type="number"
                            label="Position Order"
                            outlined
                            dense
                            v-model="form.position_order"
                            :error-messages="error.position_order"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" class="py-0">
                        <v-select
                            label="Is Required"
                            outlined
                            dense
                            :items="is_required"
                            v-model="form.is_required"
                            :error-messages="error.is_required"
                            item-text="value"
                            item-value="key"
                        >
                        </v-select>
                    </v-col>
                </v-row>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-row>
                <v-col>
                    <v-btn
                        color="error"
                        outlined
                        dense
                        block
                        @click="$emit('cancel')"
                        :loading="loading"
                        v-if="edit"
                    >
                        Cancel
                    </v-btn>
                </v-col>
                <v-col>
                    <v-btn
                        color="primary"
                        outlined
                        dense
                        block
                        @click="$emit('update')"
                        :loading="loading"
                        v-if="edit"
                    >
                        Update
                    </v-btn>
                    <v-btn
                        color="primary"
                        outlined
                        dense
                        block
                        @click="$emit('complete')"
                        :loading="loading"
                        v-else
                    >
                        Save
                    </v-btn>
                </v-col>
            </v-row>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    props: ["form", "error", "loading", "edit"],

    data: () => ({
        valid: false,
        type: ["text-field", "combobox", "text-area"],
        status: ["Enabled", "Disabled"],
        is_required: [
            { key: 0, value: "No" },
            { key: 1, value: "Yes" }
        ]
    })
};
</script>
