<template>
    <div>
        <v-data-table
            :loading="loading"
            :headers="headers"
            :items="items"
            class="elevation-0 border"
        >
            <template v-slot:item.action="{ item }">
                <v-btn
                    x-small
                    icon
                    color="accent"
                    title="Edit"
                    @click="$emit('edit', item)"
                >
                    <v-icon small>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                    x-small
                    icon
                    color="error"
                    title="Delete"
                    @click="
                        single = item;
                        $emit('delProceed')
                    "
                >
                    <v-icon small>mdi-delete</v-icon>
                </v-btn>
            </template>
            <template v-slot:item.is_required="{ item }">
                <v-icon color="green" v-if="item.is_required == 1">
                    mdi-check-circle
                </v-icon>
                <v-icon v-else color="red">mdi-close-circle</v-icon>
            </template>
            <template v-slot:item.status="{ item }">
                <v-icon v-if="item.status == 'Enabled'" color="green">
                    mdi-check-circle
                </v-icon>
                <v-icon v-else color="red">mdi-close-circle</v-icon>
            </template>
        </v-data-table>

        <v-dialog v-model="delConfirm" width="30%">
            <v-card>
                <v-card-title>
                    Delete User Detail
                </v-card-title>
                <v-card-text>
                    Are you sure you want to delete ({{ single.title }})?
                </v-card-text>
                <v-card-actions>
                    <v-btn
                        outlined
                        color="primary"
                        small
                        @click="
                            single = [];
                            $emit('delCancel')
                        "
                        v-html="'NO'"
                    ></v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                        outlined
                        color="error"
                        small
                        @click="confirmDelete()"
                        v-html="'YES'"
                    ></v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
export default {
    props: ["items", "loading", "delConfirm"],

    data: () => ({
        headers: [
            { text: "Order", align: "left", value: "position_order" },
            { text: "Name", value: "name" },
            { text: "Title", value: "title" },
            { text: "Type", value: "type" },
            { text: "Status", value: "status" },
            { text: "Is Required", value: "is_required" },
            { text: "Last Update", value: "updated_at" },
            { text: "Actions", value: "action" }
        ],
        single: []
    }),

    methods: {
        confirmDelete() {
            this.$emit("delete", this.single.id);
        }
    }
};
</script>
