<template>
    <div>
        <v-row>
            <v-col cols="12" lg="3">
                <form-user-details
                    :form="form"
                    :error="error"
                    :loading="loading"
                    :edit="edit"
                    v-on:cancel="setDefault"
                    v-on:complete="saveItem"
                    v-on:update="updateItem"
                ></form-user-details>

                <filter-user-details
                    class="mt-3"
                    :filter="filter"
                ></filter-user-details>
            </v-col>
            <v-col cols="12" lg="9">
                <table-user-details
                    :items="items"
                    :loading="loading"
                    :delConfirm="delConfirm"
                    v-on:delete="deleteUserDetail($event)"
                    v-on:edit="showEdit($event)"
                    v-on:delProceed="delConfirm = true"
                    v-on:delCancel="delConfirm = false"
                ></table-user-details>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import formUserDetails from "./UserDetails/Form";
import tableUserDetails from "./UserDetails/Table";
import filterUserDetails from "./UserDetails/Filter";

export default {
    components: {
        formUserDetails,
        tableUserDetails,
        filterUserDetails
    },

    data: () => ({
        error: [],
        loading: false,
        edit: false,
        delConfirm: false,
        filter: {
            search: ""
        },
        form: {
            title: null,
            type: null,
            status: null,
            is_required: null,
            position_order: null
        },
        items: []
    }),

    mounted() {
        this.getItems();
    },

    methods: {
        setDefault() {
            this.form = {
                title: null,
                type: null,
                status: null
            };
            this.edit = false;
            this.error = [];
        },

        showEdit($event) {
            this.form = $event;
            this.edit = true;

            this.error = [];
        },

        deleteUserDetail($event) {
            this.loading = true;
            axios
                .delete("/api/admin/base/delete/user/details/" + $event)
                .then(res => {
                    this.$emit("error", res.data.message);
                    this.delConfirm = false;
                    this.getItems();
                })
                .catch(err => {
                    this.error = err.response.data.errors;
                    this.$emit("error", "Something went wrong.");
                })
                .then(res => {
                    this.loading = false;
                });
        },

        updateItem() {
            this.error = [];
            this.loading = true;
            axios
                .put("/api/admin/base/user/details/" + this.form.id, this.form)
                .then(res => {
                    this.$emit("notify", res.data.message);
                    this.getItems();
                })
                .catch(err => {
                    this.error = err.response.data.errors;
                    this.$emit("error", "Something went wrong.");
                })
                .then(res => {
                    this.loading = false;
                });
        },

        saveItem() {
            this.error = [];
            axios
                .post("/api/admin/base/user/details", this.form)
                .then(res => {
                    console.log(res.data.message);
                    this.$emit("notify", res.data.message);
                    this.getItems();
                    this.setDefault();
                })
                .catch(err => {
                    this.error = err.response.data.errors;
                    this.$emit("error", "Something went wrong.");
                })
                .then(res => {
                    this.loading = false;
                });
        },

        getItems() {
            this.loading = true;
            axios
                .get("/api/admin/base/user/details")
                .then(res => {
                    this.items = res.data.items;
                })
                .catch(err => {
                    this.$emit("error", "Something went wrong.");
                })
                .then(res => {
                    this.loading = false;
                });
        }
    }
};
</script>
