<template>
    <v-card outlined>
        <v-card-text class="text-center">
            <h2 class="display-1">Total Users</h2>
            <h2 class="display-4 text--primary" v-html="users.length"></h2>
        </v-card-text>
        <v-card-actions>
            <v-btn color="primary darken-2" block outlined @click="$router.push({name: 'admin.users'})">Add New</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    data: () => ({
        users: []
    }),

    mounted() {
        this.get_users();
    },

    methods: {
        get_users() {
            this.loading = true;
            axios.get("/api/admin/user").then(res => {
                this.users = res.data.data;
            });
        }
    }
};
</script>
