<template>
    <v-app id="inspire">
        <v-navigation-drawer app v-model="drawer" v-if="showDrawer">
            <MenuComponent></MenuComponent>
        </v-navigation-drawer>
        <v-app-bar app color="primary darken-3" dark>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
            <v-toolbar-title>Site Management</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu
                left
                bottom
                offset-y
                content-class="dropdown-menu"
                transition="slide-x-transition"
            >
                <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                        <v-icon>mdi-account-circle</v-icon>
                    </v-btn>
                </template>

                <v-list-item :to="{ name: 'account.profile' }">
                    <v-list-item-content>
                        <v-list-item-subtitle link>
                            <v-icon>mdi-account-circle</v-icon>
                            <span>Profile</span>
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item @click="logout()">
                    <v-list-item-content>
                        <v-list-item-subtitle link>
                            <v-icon>mdi-location-exit</v-icon>
                            <span>Sign out</span>
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-menu>
        </v-app-bar>

        <v-content>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-content>
        <v-footer color="primary darken-3" app>
            <span class="white--text">&copy; 2020</span>
        </v-footer>
    </v-app>
</template>

<script>
import MenuComponent from "./MenuComponent.vue";

export default {
    components: {
        MenuComponent
    },
    props: {
        source: String
    },
    data: () => ({
        drawer: true,
        showDrawer: true
    }),
    methods: {
        logout() {
            window.location = "/auth/logout";
        }
    }
};
</script>
