<template>
    <div>
        <router-view
            v-on:notify="show_notify($event)"
            v-on:warning="show_warning($event)"
            v-on:error="show_error($event)"
        ></router-view>

        <v-snackbar
            v-model="notify"
            dark
            left
            absolute
            bottom
            color="success"
            outlined
        >
            {{ message }}
            <v-spacer></v-spacer>
            <v-btn icon @click="notify = false">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-snackbar>

        <v-snackbar
            v-model="warning"
            dark
            left
            absolute
            bottom
            color="warning"
            outlined
        >
            {{ message }}
            <v-spacer></v-spacer>
            <v-btn icon @click="warning = false">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-snackbar>

        <v-snackbar
            v-model="error"
            dark
            left
            absolute
            bottom
            color="error"
            outlined
            type="error"
        >
            {{ message }}
            <v-spacer></v-spacer>
            <v-btn icon @click="error = false">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
export default {
    data: () => ({
        message: "",
        notify: false,
        warning: false,
        error: false,
    }),

    methods: {
        show_notify($event) {
            this.notify = true;
            this.message = $event;
        },
        show_warning($event) {
            this.warning = true;
            this.message = $event;
        },
        show_error($event) {
            this.error = true;
            this.message = $event;
        }
    }
};
</script>
