<template>
    <div id="menu-tab">
        <v-list dense class="py-0">
            <v-list-item
                v-for="(v, k) in menu"
                link
                :to="{ name: v.link }"
                :key="k"
                :title="v.name"
            >
                <v-tooltip right>
                    <template v-slot:activator="{ on, attrs }">
                        <v-list-item-action v-bind="attrs" v-on="on">
                            <v-icon>{{ v.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>{{ v.name }}</v-list-item-title>
                        </v-list-item-content>
                    </template>
                    <span>{{ v.name }}</span>
                </v-tooltip>
            </v-list-item>

            <v-list-group
                no-action
                value="true"
                v-for="v in security"
                :to="{ name: v.link }"
                :key="v.link"
            >
                <template v-slot:activator>
                    <v-list-item-action>
                        <v-icon>mdi-lock</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Security</v-list-item-title>
                    </v-list-item-content>
                </template>
                <v-list-item
                    v-for="(c, i) in v.children"
                    :key="i"
                    link
                    :to="{ name: c.link }"
                >
                    <v-list-item-title v-text="c.name"></v-list-item-title>
                    <v-list-item-icon>
                        <v-icon v-text="c.icon"></v-icon>
                    </v-list-item-icon>
                </v-list-item>
            </v-list-group>
        </v-list>

        <v-dialog v-model="authDialog" persistent max-width="600">
            <v-card>
                <v-card-title>
                    <h3>Authentication Error</h3>
                    <v-spacer></v-spacer>
                </v-card-title>
                <v-card-text>Redirect to login.</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <a class="btn btn-primary text-white" href="/auth/logout">
                        Proceed
                    </a>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
export default {
    props: {
        source: String
    },

    data: () => ({
        menu: [
            { name: "Dashboard", link: "admin.home", icon: "mdi-home" },
            { name: "Account", link: "account.profile", icon: "mdi-account" },
            { name: "Users", link: "admin.users", icon: "mdi-account-group" },
            {
                name: "Users Details",
                link: "admin.user.details",
                icon: "mdi-account-settings"
            }
        ],
        security: [
            {
                name: "Roles",
                link: "admin.users",
                icon: "mdi-account-group",
                children: [
                    {
                        name: "Passport",
                        link: "admin.passport",
                        icon: "mdi-account-group"
                    },
                    {
                        name: "Roles",
                        link: "admin.roles",
                        icon: "mdi-account-lock"
                    },
                    {
                        name: "Permission",
                        link: "admin.permission",
                        icon: "mdi-fingerprint"
                    }
                ]
            }
        ],
        auth: null,
        authDialog: false
    }),

    mounted() {
        this.auth = window.auth_user;
        this.verifyAuth();
    },

    methods: {
        verifyAuth() {
            if (!this.auth) {
                this.authDialog = true;
            }
        }
    }
};
</script>
