<template>
    <div>
        <v-row>
            <v-col
                cols="12" lg="6"
                class="py-0"
                v-for="(value, key) in details"
                :key="key"
            >
                <template v-if="value.type == 'text-field'">
                    <v-text-field
                        dense
                        outlined
                        v-model="form[value.name]"
                        :label="
                            value.is_required ? value.title + ' *' : value.title
                        "
                        :error-messages="
                                error['userDetails.' + value.name] !== 'undefined'
                                ? error['userDetails.' + value.name]
                                : ''
                        "
                    ></v-text-field>
                </template>
                <template v-if="value.type == 'text-area'">
                    <v-textarea
                        dense
                        outlined
                        v-model="form[value.name]"
                        :required="value.is_required"
                        :error-messages="
                             error['userDetails.' + value.name] !== 'undefined'
                                ? error['userDetails.' + value.name]
                                : ''
                        "
                        :label="
                            value.is_required ? value.title + ' *' : value.title
                        "
                    ></v-textarea>
                </template>
            </v-col>
        </v-row>
    </div>
</template>

<script>
export default {
    props: ["loading", "form", "details", "error"],
    data: () => ({
        local: []
    }),
    mounted() {}
};
</script>
