<template>
    <div>
        <v-card class="mb-5" outlined>
            <v-card-text>
                <v-row>
                    <v-col class="p-0">
                        <h4 class="p-2 mb-0">
                            <v-btn
                                class="mr-3"
                                :to="{ name: 'admin.users' }"
                                fab
                                icon
                                x-small
                            >
                                <v-icon>mdi-keyboard-backspace</v-icon> </v-btn
                            >Edit User
                        </h4>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>

        <v-row>
            <v-col cols="12" lg="6" sm="12">
                <v-card outlined>
                    <v-card-title>
                        <span>Basic Information</span>
                    </v-card-title>
                    <v-card-text>
                        <v-text-field
                            label="First Name"
                            outlined
                            dense
                            v-model="form.first_name"
                            :loading="loading"
                            :error-messages="error.first_name"
                        ></v-text-field>
                        <v-text-field
                            label="Last Name"
                            outlined
                            dense
                            v-model="form.last_name"
                            :loading="loading"
                            :error-messages="error.last_name"
                        ></v-text-field>
                        <v-text-field
                            type="email"
                            label="Email"
                            outlined
                            dense
                            v-model="form.email"
                            :loading="loading"
                            :error-messages="error.email"
                        ></v-text-field>
                        <v-combobox
                            label="Status"
                            :items="status"
                            outlined
                            dense
                            v-model="form.status"
                            :loading="loading"
                            :error-messages="error.status"
                        >
                            <template v-slot:selection="{ item }">
                                <v-icon
                                    v-if="item == 'enabled'"
                                    color="success"
                                    x-small
                                >
                                    mdi-check-circle
                                </v-icon>
                                <v-icon
                                    v-else-if="item == 'disabled'"
                                    color="error"
                                    x-small
                                >
                                    mdi-close-circle
                                </v-icon>
                                <small class="ml-3">{{ item.toUpperCase() }}</small>
                            </template>
                        </v-combobox>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="12" lg="6" sm="12">
                <v-card outlined>
                    <v-card-title>
                        <span>Roles</span>
                    </v-card-title>
                    <v-card-text>
                        <v-select
                            v-model="form.roles"
                            :items="roles"
                            :error-messages="error.roles"
                            item-value="id"
                            item-text="name"
                            multiple
                            chips
                            label="Roles"
                            outlined
                            dense
                        >
                            <template v-slot:selection="{ item, index }">
                                <v-chip small v-if="index === 0">
                                    <span>{{ item.name }}</span>
                                </v-chip>
                                <span
                                    v-if="index === 1"
                                    class="grey--text caption"
                                    >(+{{ form.roles.length - 1 }} others)</span
                                >
                            </template>
                        </v-select>

                        <v-select
                            v-model="form.permissions"
                            :items="permissions"
                            item-text="name"
                            chips
                            label="Custom Permissions"
                            multiple
                            dense
                            outlined
                            return-object
                        >
                            <template v-slot:selection="{ item, index }">
                                <v-chip small v-if="index === 0">
                                    <span>{{ item.name }}</span>
                                </v-chip>
                                <span
                                    v-if="index === 1"
                                    class="grey--text caption"
                                    >(+{{
                                        form.permissions.length - 1
                                    }}
                                    others)</span
                                >
                            </template>
                        </v-select>
                    </v-card-text>
                </v-card>
            </v-col>

            <v-col cols="12" v-if="show_details">
                <v-card outlined>
                    <v-card-title>
                        User details
                    </v-card-title>
                    <v-card-text>
                        <form-user-details
                            v-if="show_details"
                            :loading="loading"
                            :details="details"
                            :form="form.userDetails"
                            :error="error"
                        ></form-user-details>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>

        <v-card class="mt-5" outlined>
            <v-card-actions>
                <v-btn color="error" @click="dialog.trash = true" outlined>
                    Delete
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn color="accent" outlined dark @click="dialog.pass = true">
                    Change Password
                </v-btn>
                <v-btn color="primary" outlined dark @click="save_item()">
                    Update
                </v-btn>
            </v-card-actions>
        </v-card>

        <v-dialog v-model="dialog.pass" max-width="400">
            <v-card outlined>
                <v-card-title>
                    <span>Change Password</span>
                    <v-spacer></v-spacer>
                    <v-btn fab icon x-small @click="dialog.pass = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-card-title>
                <v-card-text>
                    <v-text-field
                        type="password"
                        label="Password"
                        v-model="form.password"
                        :error-messages="error.password"
                        :loading="loading"
                        outlined
                        dense
                    ></v-text-field>
                    <v-text-field
                        type="password"
                        label="Verify Password"
                        v-model="form.password_confirmation"
                        :error-messages="error.password_confirmation"
                        :loading="loading"
                        outlined
                        dense
                    ></v-text-field>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" outlined @click="save_item()">
                        Update Password
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="dialog.trash" max-width="400">
            <v-card outlined>
                <v-card-title>
                    <span>Delete Item</span>
                    <v-spacer></v-spacer>
                    <v-btn
                        fab
                        x-small
                        icon
                        color="red"
                        @click="dialog.trash = false"
                    >
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-card-title>
                <v-card-text>Are you sure you want to delete?</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn dark color="red" @click="remove_item()">
                        <v-icon>mdi-trash-can</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import formUserDetails from "./Details";
import axios from "axios";

export default {
    components: {
        formUserDetails
    },
    data: () => ({
        dialog: {
            pass: false,
            trash: false
        },
        loading: false,
        success: false,
        status: ["enabled", "disabled"],
        roles: [],
        permissions: [],
        details: [],
        show_details: false,
        error: {
            userDetails: []
        },
        form: {
            id: null,
            name: null,
            email: null,
            status: null,
            password: null,
            password_confirmation: null,
            permissions: [],
            roles: [],
            userDetails: {}
        }
    }),

    mounted() {
        this.form.id = this.$route.params.id;
        this.get_permissions();
        this.get_roles();
        this.get_item();
        this.get_user_details();
    },

    methods: {
        save_item: function() {
            this.loading = true;
            this.success = false;
            this.error = [];

            axios
                .put("/api/admin/user/" + this.form.id, this.form)
                .then(res => {
                    this.loading = false;
                    this.success = true;
                    this.dialog.pass = false;
                    this.$emit("notify", "User successfully updated.");
                })
                .catch(err => {
                    console.log(err.response);
                    this.error = err.response.data.errors;
                })
                .then(() => {
                    this.loading = false;
                });
        },

        get_item: function() {
            this.loading = true;

            axios
                .get("/api/admin/user/" + this.form.id)
                .then(res => {
                    this.form = res.data.user;
                    this.form.roles = res.data.roles;
                    this.form.permissions = res.data.permissions;
                    this.loading = false;
                })
                .catch(err => {})
                .then(() => {
                    this.loading = false;
                });
        },

        get_user_details: function() {
            this.show_details = false;
            axios
                .get("/api/admin/base/user/details")
                .then(res => {
                    this.details = res.data.items;
                })
                .catch(err => {})
                .then(res => {
                    this.show_details = true;
                });
        },

        get_permissions: function() {
            this.loading = true;
            axios
                .get("/api/admin/permissions/")
                .then(res => {
                    this.permissions = res.data.permissions;
                    this.loading = false;
                })
                .catch(err => {})
                .then(() => {
                    this.loading = false;
                });
        },

        get_roles: function() {
            this.loading = true;
            axios
                .get("/api/admin/roles/")
                .then(res => {
                    this.roles = res.data.roles;
                    this.loading = false;
                })
                .catch(err => {})
                .then(() => {
                    this.loading = false;
                });
        },

        remove_item() {
            this.loading = true;
            axios
                .delete("/api/admin/user/" + this.form.id)
                .then(res => {
                    this.dialog.trash = false;
                    this.loading = true;
                    this.$router.push({ name: "admin.users" });
                })
                .catch(err => {})
                .then(() => {
                    this.loading = false;
                });
        }
    }
};
</script>
