<template>
    <div>
        <v-card>
            <v-card-title>
                New User
            </v-card-title>
            <v-card-text>
                <v-row>
                    <v-col cols="12" lg="12">
                        <v-row>
                            <v-col cols="12" lg="6" class="py-0">
                                <v-text-field
                                    label="First Name"
                                    outlined
                                    dense
                                    v-model="form.first_name"
                                    :error-messages="error.first_name"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" lg="6" class="py-0">
                                <v-text-field
                                    label="Last Name"
                                    outlined
                                    dense
                                    v-model="form.last_name"
                                    :error-messages="error.last_name"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" class="py-0">
                                <v-text-field
                                    type="email"
                                    outlined
                                    dense
                                    label="Email"
                                    v-model="form.email"
                                    :rules="rules.email"
                                    :error-messages="error.email"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" class="py-0">
                                <v-select
                                    v-model="form.roles"
                                    :items="roles"
                                    item-value="id"
                                    item-text="name"
                                    chips
                                    label="Roles"
                                    outlined
                                    dense
                                    :error-messages="error.roles"
                                >
                                    <template
                                        v-slot:selection="{ item, index }"
                                    >
                                        <v-chip small v-if="index === 0">
                                            <span>{{ item.name }}</span>
                                        </v-chip>
                                        <span
                                            v-if="index === 1"
                                            class="grey--text caption"
                                            >(+{{
                                                form.roles.length - 1
                                            }}
                                            others)</span
                                        >
                                    </template>
                                </v-select>
                            </v-col>
                            <v-col cols="12" lg="6" class="py-0">
                                <v-text-field
                                    type="password"
                                    label="Password"
                                    outlined
                                    dense
                                    v-model="form.password"
                                    :rules="rules.password"
                                    :error-messages="error.password"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12" lg="6" class="py-0">
                                <v-text-field
                                    type="password"
                                    label="Verify Password"
                                    outlined
                                    dense
                                    v-model="form.password_confirmation"
                                    :rules="rules.password"
                                    :error-messages="
                                        error.password_confirmation
                                    "
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col>
                        <form-user-details
                            v-if="show_details"
                            :loading="loading"
                            :details="details"
                            :form="form.userDetails"
                            :error="error"
                        ></form-user-details>
                    </v-col>
                </v-row>
            </v-card-text>
            <v-card-actions>
                <v-btn
                    outlined
                    color="accent darken-3"
                    dark
                    @click="$emit('cancel')"
                >
                    cancel
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary darken-3" dark @click="save_item()">
                    Save
                </v-btn>
            </v-card-actions>
        </v-card>
    </div>
</template>

<script>
import axios from "axios";
import formUserDetails from "./Details";

export default {
    components: {
        formUserDetails
    },

    data: () => ({
        loading: false,
        success: false,
        details: [],
        show_details: false,
        error: [],
        roles: [],
        form: {
            first_name: null,
            last_name: null,
            email: null,
            password: null,
            roles: null,
            password_confirmation: null,
            userDetails: {}
        },
        rules: {
            email: [
                value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    return pattern.test(value) || "Invalid e-mail.";
                }
            ],
            password: [
                value => {
                    const pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/;
                    return (
                        pattern.test(value) ||
                        "Min. 8 characters with at least one capital letter, a number and a special character."
                    );
                }
            ]
        }
    }),

    mounted() {
        this.get_user_details();
        this.get_roles();
    },

    methods: {
        save_item: function() {
            this.loading = true;
            this.success = false;
            this.error = [];

            axios
                .post("/api/admin/user", this.form)
                .then(res => {
                    console.log(res);
                    this.loading = false;
                    this.success = true;
                    this.$emit("complete");
                })
                .catch(err => {
                    this.error = err.response.data.errors;
                })
                .then(() => {
                    this.loading = false;
                });
        },

        get_user_details: function() {
            this.show_details = false;
            axios
                .get("/api/admin/base/user/details")
                .then(res => {
                    this.details = res.data.items;
                    var _this = this;
                    for (let r in res.data.keys) {
                        var k = res.data.keys[r];
                        _this.form.userDetails[k] = "";
                    }
                    this.show_details = true;
                })
                .catch(err => {
                    this.$emit("error", "Something went wrong.");
                })
                .then(res => {
                    this.show_details = true;
                });
        },

        get_roles: function() {
            this.loading = true;
            axios
                .get("/api/admin/roles/")
                .then(res => {
                    this.roles = res.data.roles;
                    this.loading = false;
                })
                .catch(err => {
                    this.$emit("error", "Something went wrong.");
                })
                .then(() => {
                    this.loading = false;
                });
        }
    }
};
</script>
