<template>
    <div>
        <v-card class="mb-5" outlined>
            <v-card-title>
                <span>Users</span>
                <v-spacer></v-spacer>
                <v-text-field
                    class="pt-0"
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                    v-on:change="search_key"
                    clearable
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-btn
                    @click="new_entry = !new_entry"
                    color="secondary"
                    outlined
                    dense
                >
                    <v-icon>mdi-plus-box</v-icon>
                </v-btn>
                <v-btn
                    @click="dialog.bulk_trash = true"
                    color="error"
                    outlined
                    dense
                    v-if="selected.length"
                    class="ml-2"
                >
                    <v-icon>mdi-delete-circle</v-icon>
                </v-btn>
            </v-card-title>
        </v-card>

        <v-row>
            <v-col>
                <v-data-table
                    :headers="headers"
                    :items="items"
                    :items-per-page="100"
                    class="elevation-0 border"
                    :loading="loading"
                    v-model="selected"
                    show-select
                >
                    <template v-slot:item.name="{ item }">
                        <span v-html="item.last_name + ', ' + item.first_name">
                        </span>
                    </template>
                    <template v-slot:item.updated_at="{ item }">
                        <span v-html="moment(item.updated_at).fromNow()"></span>
                    </template>
                    <template v-slot:item.status="{ item }">
                        <v-icon v-if="item.status == 'enabled'" color="success">
                            mdi-check-circle
                        </v-icon>
                        <v-icon
                            v-else-if="item.status == 'disabled'"
                            color="error"
                        >
                            mdi-close-circle
                        </v-icon>
                    </template>
                    <template v-slot:item.action="{ item }">
                        <v-btn
                            x-small
                            fab
                            icon
                            title="Edit"
                            :to="{
                                name: 'admin.users.edit',
                                params: { id: item.id }
                            }"
                            ><v-icon>mdi-circle-edit-outline</v-icon></v-btn
                        >
                        <v-btn
                            x-small
                            fab
                            icon
                            title="Trash"
                            @click="
                                single = item;
                                dialog.trash = true;
                            "
                        >
                            <v-icon>mdi-trash-can</v-icon>
                        </v-btn>
                    </template>
                </v-data-table>
            </v-col>
        </v-row>

        <v-dialog v-model="new_entry" persistent max-width="600px">
            <new-entry
                v-on:complete="
                    new_entry = false;
                    get_items();
                    $emit('notify', 'User successfully added.');
                "
                v-on:cancel="new_entry = false"
                v-if="new_entry"
            ></new-entry>
        </v-dialog>

        <v-dialog v-model="dialog.bulk_trash" max-width="400">
            <v-card>
                <v-card-title>
                    <span>Delete Items</span>
                    <v-spacer></v-spacer>
                </v-card-title>
                <v-card-text>
                    Are you sure you want to delete
                    {{ selected.length }} item(s)?
                </v-card-text>
                <v-card-actions>
                    <v-btn
                        outlined
                        color="primary"
                        @click="dialog.bulk_trash = false"
                    >
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn dark color="red" @click="bulk_remove">
                        <v-icon>mdi-trash-can</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="dialog.trash" v-if="single" max-width="400">
            <v-card>
                <v-card-title>
                    <span>Delete Item</span>
                    <v-spacer></v-spacer>
                </v-card-title>
                <v-card-text>
                    Are you sure you want to delete?
                </v-card-text>
                <v-card-actions>
                    <v-btn
                        outlined
                        color="primary"
                        @click="dialog.trash = false"
                    >
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn dark color="red" @click="remove_item(single.id)">
                        <v-icon>mdi-trash-can</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import axios from "axios";
import newEntry from "./New";
var moment = require("moment");

export default {
    components: {
        newEntry
    },
    mounted() {
        this.get_items();
    },

    data() {
        return {
            selected: [],
            new_entry: false,
            single: null,
            filter: false,
            headers: [
                { text: "Status", value: "status" },
                { text: "Name", align: "left", value: "name" },
                { text: "Email", value: "email" },
                { text: "Created At", value: "created_at" },
                { text: "Last Update", value: "updated_at" },
                { text: "Actions", value: "action" }
            ],
            dialog: { trash: false, bulk_trash: false },
            search: "",
            moment: moment,
            loading: true,
            items: []
        };
    },

    methods: {
        search_key() {
            this.loading = true;
            axios
                .post("/api/admin/search/user", { search: this.search })
                .then(res => {
                    this.items = res.data.data;
                    this.loading = true;
                })
                .catch(err => {
                    console.log(err.response.data);
                    this.$emit("error", "Something went wrong.");
                })
                .then(res => {
                    this.loading = false;
                });
        },

        get_items() {
            this.loading = true;
            axios
                .get("/api/admin/user")
                .then(res => {
                    this.items = res.data.data;
                    this.loading = true;
                })
                .catch(err => {
                    this.$emit("error", "Something went wrong.");
                })
                .then(() => {
                    this.loading = false;
                });
        },

        bulk_remove() {
            var _this = this;
            var selected = _this.selected;
            for (let r in selected) {
                var k = _this.selected[r];
                this.remove_item(k.id);
            }

            this.selected = [];
            this.dialog.bulk_trash = false;
        },

        remove_item(id) {
            this.loading = true;
            axios
                .delete("/api/admin/user/" + id)
                .then(res => {
                    this.dialog.trash = false;
                    this.get_items();
                    this.loading = true;

                    this.$emit("notify", "User deleted successfully");
                })
                .catch(err => {
                    this.$emit("error", "Something went wrong.");
                })
                .then(() => {
                    this.loading = false;
                });
        }
    }
};
</script>
