<template>
    <div>
        <v-card class="mb-5" outlined>
            <v-card-title>
                <span>My Profile</span>
                <v-spacer></v-spacer>
            </v-card-title>
        </v-card>

        <v-card outlined>
            <v-card-text>
                <v-row v-if="profile">
                    <v-col cols="12" lg="6">
                        <v-row>
                            <v-col cols="12">
                                <v-text-field
                                    label="First Name"
                                    v-model="profile.first_name"
                                    :error-messages="error.first_name"
                                    outlined
                                    dense
                                ></v-text-field>
                                <v-text-field
                                    label="Last Name"
                                    v-model="profile.last_name"
                                    :error-messages="error.last_name"
                                    outlined
                                    dense
                                ></v-text-field>
                                <v-text-field
                                    label="Email"
                                    v-model="profile.email"
                                    :error-messages="error.email"
                                    outlined
                                    dense
                                ></v-text-field>
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col cols="12" lg="12">
                                <v-alert dense type="info">
                                    Leave blank if you don't want to change
                                    password.
                                </v-alert>
                            </v-col>
                            <v-col cols="12" lg="6">
                                <v-text-field
                                    label="Password"
                                    v-model="profile.password"
                                    type="password"
                                    :error-messages="error.password"
                                    outlined
                                    dense
                                >
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" lg="6">
                                <v-text-field
                                    label="Confirm Password"
                                    v-model="profile.password_confirmation"
                                    type="password"
                                    outlined
                                    :error-messages="
                                        error.password_confirmation
                                    "
                                    dense
                                >
                                </v-text-field>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col cols="12" lg="6">
                        <form-user-details
                            class="mt-3"
                            v-if="show_details"
                            :loading="loading"
                            :details="details"
                            :form="profile.userDetails"
                            :error="error"
                        ></form-user-details>
                    </v-col>

                    <v-col cols="12" lg="12">
                        <v-btn
                            class="float-right"
                            large
                            color="primary"
                            outlined
                            dense
                            @click="update_profile"
                            :loading="loading"
                        >
                            Save
                        </v-btn>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
import Axios from "axios";
import FormUserDetails from "../Admin/Users/Details";
export default {
    components: {
        FormUserDetails
    },
    props: {
        source: String
    },

    mounted() {
        this.profile = window.auth_user;
        this.get_profile();
    },

    data: () => ({
        show_details: false,
        profile: null,
        error: [],
        details: [],
        loading: false
    }),

    methods: {
        update_profile() {
            this.loading = true;
            axios
                .put("/api/admin/user/" + this.profile.id, this.profile)
                .then(res => {
                    this.$emit("notify", "Account update complete.");
                    this.loading = false;
                    this.get_profile();
                })
                .catch(err => {
                    this.error = err.response.data.errors;
                })
                .then(res => {
                    this.loading = false;
                });
        },

        get_profile() {
            this.show_details = false;
            this.loading = true;
            axios
                .get("/api/admin/get/profile")
                .then(res => {
                    this.profile = res.data.user;
                    this.details = res.data.details;
                    this.profile.password = "";
                    this.profile.password_confirmation = "";
                    this.show_details = true;
                })
                .catch(err => {
                    this.error = err.response.data.errors;
                })
                .then(res => {
                    this.loading = false;
                });
        }
    }
};
</script>
